.wpem-updater-licenced td, .wpem-updater-licenced th {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.wpem-updater-licence-key {
	border: 0;
	font-size: 13px;
	font-weight: 400;
	margin: 6px 12px 12px;
	padding: 6px 12px;
	background-color: rgba(0,0,0,.03);
	line-height: 27px;
}
.wpem-updater-licence-key:before {
	content: "\f160";
	display: inline-block;
	font: 400 20px/27px dashicons;
	speak: none;
	margin: 0 8px 0 -2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
}
.wpem-updater-licence-key input {
	vertical-align: middle;
	margin: 0 4px;
}
.wpem-updater-licence-key-tr td {
	border-left: 4px solid #2ea2cc !important;
	padding: 0 !important;
}


.wpem-updater-licence {
    margin-top: 10px;
}
.wpem-updater-licence .licence-row {
    align-items: center;
    border: solid 1px #e2e0e2;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    min-height: 82px;
    margin-bottom: 20px;
    position: relative;
}
.wpem-updater-licence .plugin-info {
    font-size: 18px;
    flex-basis: 320px;
    padding: 0 20px;
    margin-right: 10px;
}
.wpem-updater-licence .plugin-info .plugin-author {
    font-size: 12px;
}
.wpem-updater-licence .plugin-licence {
    flex: 1;
    flex-basis: 40%;
    padding-bottom: 5px;
}

.plugins .plugin-update-tr .plugin-update{
	padding: 10px 9px;
}