@font-face {
 font-family:event-manager;
 src:url(../font/event-manager.eot);  /* IE9 Compat Modes */
 src:url(../font/event-manager.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */  url(../font/event-manager.woff) format('woff'), /* Pretty Modern Browsers */  url(../font/event-manager.ttf) format('truetype'), /* Safari, Android, iOS */  url(../font/event-manager.svg#event-manager) format('svg'); /* Legacy iOS */
 font-weight:400;
 font-style:normal
}
.font-icon-look {
	font-family:event-manager!important;
	font-style:normal;
	font-weight:400;
	speak:none;
	display:inline-block;
	text-decoration:inherit;
	width:1em;
	text-align:center;
	font-variant:normal;
	text-transform:none;
	line-height:1em
}

/* Start conflict with bootstrap fix */
body 
{
    background-color: transparent !important;
}
.fade { opacity: 1 !important;}
a { text-decoration: none !important; }

/* End conflict with bootstrap fix */

.error-red-border { border: 2px solid red !important;}
.error-red-message {padding:0; color:#D70000; font-size:14px;font-family:event-manager!important;font-weight: bold;}

.clearfix {
	zoom:1
}
.clearfix:after,  .clearfix:before {
	content:"";
	display:table
}
.clearfix:after {
	clear:both
}
.event-manager-settings-wrap .updated {
	display:none
}
.event-manager-settings-wrap .event-manager-updated {
	display:block;
	margin:1em 0 0
}
.widefat td.column-featured_event, .widefat td.column-cancelled, .widefat td.column-event_status {
	width:46px;
	text-align:left;
	padding-left:11px
}
.widefat th.column-featured_event, .widefat th.column-cancelled, .widefat th.column-event_status {
	width:1em
}
.widefat th.column-featured_event span, .widefat th.column-cancelled span, .widefat th.column-event_status span {
	display:block;
	width:1em;
	height:1em;
	line-height:1em;
	padding:1px 0 0;
	overflow:hidden
}
.widefat th.column-featured_event span:before, .widefat th.column-cancelled span:before,  .widefat th.column-event_status span:before {
	content:'\e803';
	font-family:event-manager!important;
	font-style:normal;
	font-weight:400;
	speak:none;
	display:inline-block;
	text-decoration:inherit;
	width:1em;
	text-align:center;
	font-variant:normal;
	text-transform:none;
	line-height:1em
}
.widefat th.column-cancelled span:before {
	content:'\e801'
}
.widefat th.column-event_status span:before {
	content:'\e828'
}
.widefat .column-event_posted strong {
	display:block;
	margin-bottom:.2em
}
.widefat td.column-event_status span {
	position:relative;
	font-size:1em;
	line-height:1.5em;
	width:1em;
	height:0;
	padding:2em 0 0;
	overflow:hidden;
	display:block
}
.widefat td.column-event_status span:before {
	font-family:event-manager!important;
	font-style:normal;
	font-weight:400;
	speak:none;
	display:inline-block;
	text-decoration:inherit;
	width:1em;
	text-align:center;
	font-variant:normal;
	text-transform:none;
	position:absolute;
	top:0;
	left:0;
	line-height:1.5em;
	vertical-align:middle;
	color:#999;
	content:'\e829'
}
.widefat td.column-event_status .status-trash:before {
	content:'\e82b';
	color:#a00
}
.widefat td.column-event_status .status-pending:before {
	content:'\e82c';
	color:#ffba00
}
.widefat td.column-event_status .status-publish:before {
	content:'\e82f';
	color:#73a724
}
.widefat td.column-event_status .status-expired:before {
	content:'\e82e';
	color:#a00
}
.widefat .column-event_listing_type {
	text-align:left;
	width:8%;
	word-wrap:normal!important
}
.widefat .column-event_listing_type .event-type {
	color:#555;
	padding:4px;
	font-size:13px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:block;
	text-align:left
}
.widefat td.column-event_title {
	width:20%;
	height:34px
}
.widefat td.column-event_title .event_title {
	position:relative;
	padding-right:50px!important
}
.widefat td.column-event_title a.event_title {
	font-weight:700
}
.widefat td.column-event_title img {
	width:32px;
	height:32px;
	position:absolute;
	right:7px;
	top:0;
	-webkit-border-radius:50%;
	border-radius:50%;
	box-shadow:0 1px 0 1px rgba(0, 0, 0, .1);
	-webkit-box-shadow:0 1px 0 1px rgba(0, 0, 0, .1);
	-moz-box-shadow:0 1px 0 1px rgba(0, 0, 0, .1);
	border:1px solid #fff
}
.widefat td.column-event_title .organizer {
	margin-top:.2em;
	display:block;
	padding-top:2px;
	color:#bbb
}
.widefat .column-event_location {
	width:10%
}
	.widefat .column-event_actions {
		text-align:right;
		width:
	}
.widefat .column-event_actions strong {
	display:block;
	margin-bottom:.2em
}
.widefat .column-event_actions .actions {
	padding-top:2px
}
.widefat .column-event_actions a.button {
	display:inline-block;
	margin:0 0 2px 4px;
	cursor:pointer;
	padding:0 6px!important;
	font-size:1em!important;
	line-height:2em!important;
	overflow:hidden
}
.widefat .column-event_actions a.button-icon {
	width:2em!important;
	padding:0!important
}
.widefat .column-event_actions a.button-icon:before {
	font-family:event-manager!important;
	font-style:normal;
	font-weight:400;
	speak:none;
	display:inline-block;
	text-decoration:inherit;
	text-align:center;
	font-variant:normal;
	text-transform:none;
	float:left;
	width:2em!important;
	line-height:2em
}
.widefat .column-event_actions .icon-view:before {
	content:'\e805'
}
.widefat .column-event_actions .icon-edit:before {
	content:'\e804'
}
.widefat .column-event_actions .icon-delete:before {
	content:'\e82b'
}
.widefat .column-event_actions .icon-approve:before {
	content:'\e802'
}
.wp_event_manager_meta_data {
	padding:12px;
	zoom:1
}
.wp_event_manager_meta_data:after, .wp_event_manager_meta_data:before {
	content:"";
	display:table
}
.wp_event_manager_meta_data:after {
	clear:both
}
.wp_event_manager_meta_data .form-field {
	width:50%;
	line-height:2em;
	float:left;
	box-sizing:border-box;
	padding:0 12px 0 0;
	margin:0 0 12px;
	clear:both
}
 .wp_event_manager_meta_data .form-field:nth-child(even) {
float:right;
padding:0 0 0 12px;
clear:right
}
.wp_event_manager_meta_data .form-field:nth-last-child(-n+2) {
margin-bottom:0;
padding-bottom:0;
border-bottom:0
}
.wp_event_manager_meta_data .form-field label {
	vertical-align:middle;
	display:block;
	font-weight:700;
	margin:0
}
.wp_event_manager_meta_data .form-field .tips {
	cursor:help;
	float:right;
	font-weight:400;
	color:#999
}
.wp_event_manager_meta_data .form-field input {
	width:100%;
	margin:1px 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	vertical-align:middle
}
.wp_event_manager_meta_data .form-field input.checkbox, .wp_event_manager_meta_data .form-field input.radio {
	width:auto;
	margin:4px 2px;
	display:inline-block
}
.wp_event_manager_meta_data .form-field .description {
	display:block;
	color:#999
}
.wp_event_manager_meta_data .form-field.form-field-checkbox .description {
	display:inline
}
.wp_event_manager_meta_data .form-field .file_url input {
	width:75%
}
.wp_event_manager_meta_data .form-field .button {
	margin-left:4px
}
#tiptip_holder {
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:99999
}
#tiptip_holder.tip_top {
	padding-bottom:5px
}
#tiptip_holder.tip_bottom {
	padding-top:5px
}
#tiptip_holder.tip_right {
	padding-left:5px
}
#tiptip_holder.tip_left {
	padding-right:5px
}
#tiptip_content {
	font-size:11px;
	color:#fff;
	padding:4px 8px;
	background:#464646;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:1px 1px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, .1);
	-moz-box-shadow:1px 1px 3px rgba(0, 0, 0, .1);
	text-align:center
}
#tiptip_content code {
	background:#999;
	padding:1px
}
#tiptip_arrow, #tiptip_arrow_inner {
	position:absolute;
	border-color:transparent;
	border-style:solid;
	border-width:6px;
	height:0;
	width:0
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top:-7px;
	margin-left:-6px;
	border-top-color:#464646
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top:-5px;
	margin-left:-6px;
	border-bottom-color:#464646
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top:-6px;
	margin-left:-5px;
	border-right-color:#464646
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top:-6px;
	margin-left:-7px;
	border-left-color:#464646
}
.wp_event_manager_addons_wrap #event-manager-addons-banner {
	position:relative;
	background:#095179;
	padding:0 2em 0 5em;
	color:#fff;
	margin:10px .25% 20px 0;
	border-color:rgba(0, 0, 0, .1);
	overflow:hidden
}
.wp_event_manager_addons_wrap #event-manager-addons-banner strong {
	font-size:1.25em;
	line-height:.8em;
	text-shadow:0 2px 0 rgba(0, 0, 0, .1);
	font-weight:400;
	float:left;
	padding:1.6em 0
}
.wp_event_manager_addons_wrap #event-manager-addons-banner a.button {
	color:#fff;
	text-decoration:none;
	font-weight:700;
	float:right;
	background:#095179;
	border:1px solid #fff;
	line-height:1em;
	padding:1em;
	margin:1em 0;
	text-shadow:0 2px 0 rgba(0, 0, 0, .1);
	box-shadow:0 2px 0 rgba(0, 0, 0, .1);
	height:auto;
	position:relative
}
/*.wp_event_manager_addons_wrap #event-manager-addons-banner:before {
	display:inline-block;
	-webkit-font-smoothing:antialiased;
	vertical-align:top;
	font-family:em-logo;
	content:"\e600";
	top:.02em;
	left:0;
	position:absolute;
	text-shadow:0 2px 0 rgba(0, 0, 0, .1);
	font-size:5em;
	font-weight:400;
	text-align:center;
	width:1em;
	height:1em;
	line-height:1em
}*/
.wp_event_manager_addons_wrap .products {
	overflow:hidden
}
.wp_event_manager_addons_wrap .products li {
	display:inline-block;
	margin:0 1% 10px 0!important;
	padding:0;
	vertical-align:top;
	width:24%;
	min-width:250px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #ddd;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(0, 0, 0, .1);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(0, 0, 0, .1);
	overflow:hidden;
	position:relative;
	opacity:.8
}
.wp_event_manager_addons_wrap .products li:nth-child(4n+0) {
margin-right:0!important
}
.wp_event_manager_addons_wrap .products li a {
	color:inherit;
	text-decoration:none
}
.wp_event_manager_addons_wrap .products li img {
	width:100%;
	height:auto;
	display:block;
	padding:0;
	margin:0;
	background:#fff;
	border-bottom:1px solid rgba(0, 0, 0, .1)
}
.wp_event_manager_addons_wrap .products li h2 {
	margin:0!important;
	padding:10px 0!important;
	line-height:1;
	background:rgba(255, 255, 255, .6);
	border-bottom:1px solid rgba(0, 0, 0, .1);
	color:#000;
	text-align:center;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	font-size:16px;
	text-shadow:none;
	display:none
}
.wp_event_manager_addons_wrap .products li:focus, .wp_event_manager_addons_wrap .products li:hover {
	opacity:1
}
.wp_event_manager_addons_wrap .products li:focus h2, .wp_event_manager_addons_wrap .products li:hover h2 {
	display:block
}
.wp_event_manager_addons_wrap .products li .third_party {
	display:none
}
.wp_event_manager_addons_wrap .products li p {
	padding:20px!important;
	margin:0!important;
	border-top:1px solid #f1f1f1
}
.wp_event_manager_addons_wrap .products li .price {
	display:none
}
.rtl .widefat .column-event_actions a.button-icon:before {
	float:right
}
.rtl .wp_event_manager_meta_data p {
	padding:0 20% 0 0
}
.rtl .wp_event_manager_meta_data label {
	left:auto;
	right:0
}

/*new added*/
#nav-menu-footer, #nav-menu-header, #your-profile #rich_editing, 
.checkbox, 
.control-section .accordion-section-title, 
.menu-item-handle, 
.box-info .box-title, 
.side-info, 
.sidebar-name,
.stuffbox .hndle, 
.widefat tfoot td, 
.widefat tfoot th, 
.widefat thead td, 
.widefat thead th, 
.widget .widget-top{line-height:8px;}
.manage-column.column-event_title.sortable.desc{width:358px;}	
.widefat td.column-event_title .event_title{padding-right:25px!important;}
.widefat .column-event_location{width:111px;}
th.sortable a span, th.sorted a span { line-height:15px;}

/* plugin info box */

body {	background-color: transparent!important;}
.box-info {    position: relative;    min-width: 255px;    border: 1px solid #e5e5e5;   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);    box-shadow: 0 1px 1px rgba(0,0,0,0.04);    background: #fff; float:right!important;   box-sizing:border-box; width:28%;  padding:0 15px 15px 15px;}
.box-info .box-title {    float: right;    width: 27px;    height: 30px;}
.box-info h3{	padding: 0 0 10px 10px; font-size:13px; border-bottom:1px solid #efefef; }
.box-info b{ font-size:16px; }
.admin-setting-left{	 float:left;	 width:70%;}
.white-background {	 border:1px solid #000;	 float:left;	 width:100%;	 background-color:#fff;	 border:1px solid #e1e1e1;	 padding:10px;	 box-sizing:border-box;	  margin:0 0 20px 0; }
.premium-icon:before { font-family:event-manager!important; font-style: normal; font-weight:400; content: '\e820'; color: #3b5998; margin:0 10px 0 0;  font-size:30px; cursor:pointer} 
.connect-icon:before { font-family:event-manager!important; font-style: normal; font-weight:400; content: '\e809'; color: #3b5998; margin:0 10px 0 0;  font-size:30px; cursor:pointer} 
.help-icon:before { font-family:event-manager!important; font-style: normal; font-weight:400; content: '\e850'; color: #3b5998; margin:0 10px 0 0;  font-size:30px; cursor:pointer} 
h1.nav-tab-wrapper, h2.nav-tab-wrapper, h3.nav-tab-wrapper { margin:0 0 20px 0;}
.light-grey{ color: #7a7a7a;}

/* date picket*/
.datepicker { position:absolute;}
.datepicker { background-color: #fff!important;}
