@font-face {
  font-family: 'event-manager';
  src: url('../font/event-manager.eot');  /* IE9 Compat Modes */
  src: url('../font/event-manager.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/event-manager.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/event-manager.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/event-manager.svg#event-manager') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
.font-icon-look {
  font-family: "event-manager" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}